<h1>Listing structures</h1>
<div>
  <%= render 'shared/search_filters' %>
  <div>
    Listing <strong><%= @offset %>-<%= @offset + @structs_count %>/<%= @structs_all_count %></strong> structures.
  </div>
  <% if @structs_count > 0 %>
    <%= render 'shared/prev_next' %>
    <table class="structs">
      <thead>
        <tr>
          <th>Struct</th>
          <th>Source</th>
          <th>Line</th>
          <th>Column</th>
        </tr>
      </thead>
      <tbody>
        <% @structs.each_with_index do |struct, i| %>
          <tr id="et<%= struct.id %>">
            <td><%= link_to(struct.name, struct_path(struct)) %>
            (<%= src_link_to('src', struct.src_file, struct.begLine) %>)</td>
            <td><%= struct.src_file %></td>
            <td><%= struct.begLine %></td>
            <td><%= struct.begCol %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render 'shared/prev_next' %>
  <% end %>
</div>
<br>
