<h1>Listing <%= @struct.type == 's' ? 'structure' : 'union' %> <%= @struct.name %></h1>
<div>
  Defined in <%= @struct.src_file %> at line <%= @struct.begLine %>
  column <%= @struct.begCol %>.
  <table class="structs">
    <thead>
      <tr>
        <th>Member</th>
        <th>Line</th>
        <th>Column</th>
        <th>Uses</th>
        <th>Loads</th>
        <th>Stores</th>
        <th>Implicit Uses</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr id="et<%= member.id %>">
          <td><%= '&nbsp;'.html_safe * member.level * 8 %><%= link_to(member.name, struct_use_path(@struct, member)) %>
            (<%= src_link_to('src', member.version, @struct.src_file, member.begLine) %>)
          </td>
          <td><%= member.begLine %></td>
          <td><%= member.begCol %></td>
          <td><%= member.uses %></td>
          <td><%= member.loads %></td>
          <td><%= member.stores %></td>
          <td><%= member.implicit_uses %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
