<h1>Listing <%= @struct.type == 's' ? 'structure' : 'union' %> <%= @struct.name %></h1>
<div>
  Defined in <%= @struct.src_file %> at line <%= @struct.begLine %>
  column <%= @struct.begCol %>.
  <table class="structs">
    <thead>
      <tr>
        <th>Member</th>
        <th>Line</th>
        <th>Column</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr id="et<%= member.id %>">
          <td><%= link_to(member.name, struct_use_path(@struct, member)) %>
            (<%= src_link_to('src', @struct.src_file,
                             member.begLine) %>)
                             <%if member.nested_id != nil %>
                               <b>
                               <%= link_to('-> continue to nested structure/union here', struct_path(member.nested_id)) %>
                               </b>
            <% end %>
          </td>
          <td><%= member.begLine %></td>
          <td><%= member.begCol %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
