<h1>Listing uses of <%= @member.struct.name %>.<%= @member.name %></h1>
<div>
  <table class="structs">
    <thead>
      <tr>
        <td>Source</td>
        <td>Line</td>
        <td>Column</td>
      </tr>
    </thead>
    <tbody>
      <% @uses.each do |use| %>
        <tr>
          <td><%= src_link_to(use.source.src, use.source.src, use.begLine) %></td>
          <td><%= use.begLine %></td>
          <td><%= use.begCol %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
