<h1>Listing uses of <span class="backlink"><%= link_to(@member.struct.name, struct_path(@member.struct)) %>.<%= @member.name %></span></h1>
<div>
  <div>
    Listing <strong><%= @offset %>-<%= @offset + @uses_count %>/<%= @uses_all_count %></strong> uses.
  </div>
  <div class="search_line">
    <%= form_with method: :get do |form| %>
      <%= form.label :access, "<b>Access</b>:".html_safe %>
      <%= form.radio_button :access, "any", :checked => true %>
      <%= form.label :access_any, "Any" %>
      <%= form.radio_button :access, "load", :checked => params[:access] == "load" %>
      <%= form.label :access_load, "Load" %>
      <%= form.radio_button :access, "store", :checked => params[:access] == "store" %>
      <%= form.label :access_store, "Store" %>
      <%= form.radio_button :access, "unknown", :checked => params[:access] == "unknown" %>
      <%= form.label :access_unknown, "Unknown" %>
      <span class="spacer"></span>
      <%= form.check_box :noimplicit, :checked => params[:noimplicit] == "1" %>
      <%= form.label :noimplicit, "Exclude <b>implicit</b> stores".html_safe %>
      <span class="spacer"></span>
      <%= form.submit 'Submit' %>
    <% end %>
  </div>
  <%= render 'shared/prev_next' %>
  <table class="structs">
    <thead>
      <tr>
        <th>Source</th>
        <th>Line</th>
        <th>Column</th>
        <th>Access</th>
        <th>Implicit</th>
      </tr>
    </thead>
    <tbody>
      <% @uses.each do |use| %>
        <tr>
          <td><%= src_link_to(use.src_file, use.version, use.src_file, use.begLine) %></td>
          <td><%= use.begLine %></td>
          <td><%= use.begCol %></td>
          <td><%= if use.load == nil then "unknown" else use.load == 1 ? "load" : "store" end %></td>
          <td><%= use.implicit == 1 ? "true" : "false" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'shared/prev_next' %>
</div>
<br>
