<h1>Listing uses of <span class="backlink"><%= link_to(@member.struct.name, struct_path(@member.struct)) %>.<%= @member.name %></span></h1>
<div>
  <div>
    Number of listed uses: <strong><%= @uses_count %></strong>
  </div>
  <table class="structs">
    <thead>
      <tr>
        <th>Source</th>
        <th>Line</th>
        <th>Column</th>
        <th>Access</th>
        <th>Implicit</th>
      </tr>
    </thead>
    <tbody>
      <% @uses.each do |use| %>
        <tr>
          <td><%= src_link_to(use.src_file, use.version, use.src_file, use.begLine) %></td>
          <td><%= use.begLine %></td>
          <td><%= use.begCol %></td>
          <td><%= if use.load == nil then "unknown" else use.load == 1 ? "load" : "store" end %></td>
          <td><%= use.implicit == 1 ? "true" : "false" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
