<h1>Listing <% if params[:unused] == "1" %>potentially unused<% end %> members</h1>
<div>
  <%= render 'shared/search_filters' do |form| %>
    <%= form.label :unused, "Unused:" %>
    <%= form.check_box :unused, :checked => params[:unused] == "1" %>&nbsp;
  <% end %>
  <div>
    Listing <strong><%= @offset %>-<%= @offset + @members_count %>/<%= @members_all_count %></strong> members.
  </div>
  <%= render 'shared/prev_next' %>
  <table class="structs">
    <thead>
      <tr>
        <td>Struct</td>
        <td>Member</td>
        <td>File</td>
        <td>Line</td>
        <td>Column</td>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr id="et<%= member.id %>">
          <td><%= link_to(member.struct_name, struct_path(member.struct_id)) %>
            (<%= src_link_to('src', member.src_file,
                             member.struct_begLine) %>)</td>
          <td><%= link_to(member.name, struct_use_path(member.struct_id, member)) %>
            (<%= src_link_to('src', member.src_file,
                             member.begLine) %>)</td>
          <td><%= src_link_to(member.src_file, member.src_file) %></td>
          <td><%= member.begLine %></td>
          <td><%= member.begCol %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'shared/prev_next' %>
</div>
<br>
