<h1>Listing <% if params[:unused] == "1" %>potentially unused<% end %> members</h1>
<div>
  <%= render 'shared/search_filters', members: true %>
  <div>
    Listing <strong><%= @offset %>-<%= @offset + @members_count %>/<%= @members_all_count %></strong> members.
  </div>
  <% if @members_count > 0 %>
    <%= render 'shared/prev_next' %>
    <table class="structs">
      <thead>
        <tr>
          <th><%= generate_order_buttons('Struct') %></th>
          <th><%= generate_order_buttons('Member') %></th>
          <th><%= generate_order_buttons('File') %></th>
          <th>Line</th>
          <th>Column</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr id="et<%= member.id %>">
            <td><%= link_to(member.struct_name, struct_path(member.struct_id)) %>
            (<%= src_link_to('src', member.src_file,
                             member.struct_begLine) %>)</td>
            <td><%= link_to(member.name, struct_use_path(member.struct_id, member)) %>
            (<%= src_link_to('src', member.src_file,
                             member.begLine) %>)</td>
            <td><%= src_link_to(member.src_file, member.src_file) %></td>
            <td><%= member.begLine %></td>
            <td><%= member.begCol %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render 'shared/prev_next' %>
  <% end %>
</div>
<br>
