<h1>Listing members</h1>
<div>
  <%= render 'shared/search_filters' do |form| %>
    <%= form.label :unused, "Unused:" %>
    <%= form.check_box :unused, :checked => params[:unused] == "1" %>
  <% end %>
  <table class="structs">
    <thead>
      <tr>
        <td>Struct</td>
        <td>Member</td>
        <td>File</td>
        <td>Line</td>
        <td>Column</td>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr id="et<%= member.id %>">
          <td><%= link_to(member.struct.name, struct_path(member.struct)) %>
            (<%= src_link_to('src', member.struct.source.src,
                             member.struct.begLine) %>)</td>
          <td><%= link_to(member.name, struct_use_path(member.struct, member)) %>
            (<%= src_link_to('src', member.struct.source.src,
                             member.begLine) %>)</td>
          <td><%= src_link_to(member.struct.source.src,
                              member.struct.source.src) %></td>
          <td><%= member.begLine %></td>
          <td><%= member.begCol %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
