<div class="search_line">
  <%= form_with method: :get do |form| %>
    <%= form.label :filter_file, "Filter file path:" %>
    <%= form.text_field :filter_file, :value => params[:filter_file] %>
    <span class="spacer"></span>
    <%= form.label :filter_struct, "Filter struct/union:" %>
    <%= form.text_field :filter_struct, :name => 'filter_struct', :value => params[:filter_struct] %>
    <% if local_assigns[:members] %>
      <span class="spacer"></span>
      <%= form.label :filter_member, "Filter member:" %>
      <%= form.text_field :filter_member, :name => 'filter_member', :value => params[:filter_member] %>
    <% end %>
    <br/>
    <br/>
    Filters are <b>SQL patterns</b>. I.e. use <span class="code">%</span> and <span class="code">_</span> as wildcards (corresponds to glob's <span class="code">*</span>, and <span class="code">?</span>, respectively), and <span class="code">\</span> as an escape character.<br/>
    For example: <span class="code">%mm\_ty%</span> will return entries like <span class="code">…/mm_types.h</span>.
    <br/>
    <br/>
    <%= form.check_box :nopacked, :checked => params[:nopacked] == "1" %>
    <%= form.label :nopacked, "Exclude packed structures/unions" %><br/>
    <% if local_assigns[:members] %>
      <%= form.check_box :noreserved, :checked => params[:noreserved] == "1" %>
      <%= form.label :noreserved, "Exclude special members (structs/unions like compat_*, trace_event_* or members like *dummy*, *pad*, *reserved*, *unused*)" %><br/>
      <%= form.check_box :noimplicit, :checked => params[:noimplicit] == "1" %>
      <%= form.label :noimplicit, "Exclude implicit initialization (list members not explicitly mentioned in initializers)" %><br/>
      <%= form.check_box :unused, :checked => params[:unused] == "1" %>
      <%= form.label :unused, "Unused members only" %><br/>
    <% end %>
    <%= form.submit 'Submit' %>
  <% end %>
</div>
