<div class="search_line">
  <%= form_with method: :get do |form| %>
    <%= form.label :filter_file, "Filter filename:" %>
    <%= form.text_field :filter_file, :value => params[:filter_file] %><span class="spacer"></span>
    <%= form.label :filter_struct, "Filter struct/member:" %>
    <%= form.text_field :filter_struct, :name => 'filter', :value => params[:filter] %><br/>
    <%= form.check_box :nopacked, :checked => params[:nopacked] == "1" %>
    <%= form.label :nopacked, "Exclude packed structures" %><br/>
    <% if local_assigns[:members] %>
      <%= form.check_box :noreserved, :checked => params[:noreserved] == "1" %>
      <%= form.label :noreserved, "Exclude special members (structs like compat_*, trace_event_* or members like *dummy*, *pad*, *reserved*, *unused*)" %><br/>
      <%= form.check_box :unused, :checked => params[:unused] == "1" %>
      <%= form.label :unused, "Unused members only" %><br/>
    <% end %>
    <%= form.submit 'Submit' %>
  <% end %>
</div>
