<h1>clang-struct &ndash; indexed structures of the kernel</h1>
<div>
  <ul>
    <li><%= link_to('Structures list', structs_path()) %></li>
    <li><%= link_to('Members list', members_path()) %></li>
    <li><%= link_to('Unused members list', members_path(unused: 1)) %></li>
  </ul>
  <h2>External links:</h2>
  <ul>
    <li><%= link_to('Sources', 'https://github.com/jirislaby/clang-struct') %></li>
    <li><%= link_to('OBS', 'https://build.opensuse.org/package/show/home:jirislaby/clang-struct') %></li>
  </ul>
</div>
<br>
